body {
  font-family: Arial;
  width: 1008px;
}

p {
  font-size: 13px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: green;
}

ol {
  font-size: 13px;
  margin: 0;
}

li {
  margin: 0;
}
